<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div th:text="${alert}"></div>
  <h1>회원가입</h1>
  <table width="500" height="400" align="center" style="margin-top:50px;">
      <form name="reg" th:action="@{/user/signup}" method="post">
          <tr>
              <th colspan="2" height="80">회원가입</th>
          </tr>
          <tr>
              <th>아이디</th>
              <td><input type="text" name="id"></td>
          </tr>
          <tr>
              <th>비밀번호</th>
              <td><input type="password" name="pass1"></td>
          </tr>
          <tr>
              <th>비밀번호 확인</th>
              <td><input type="password" name="pass2"></td>
          </tr>
          <tr>
              <th>이름</th>
              <td><input type="text" name="name"></td>
          </tr>
          <tr>
              <th>메일</th>
              <td><input type="text" name="email"></td>
          </tr>
          <tr>
              <td colspan="2"></td>
          </tr>
          <tr>
              <td align="center" colspan="2">
                  <input type="submit" value="가입하기" style="font-family: 'Nanum Myeongjo', serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="reset" value="취소하기" style="font-family: 'Nanum Myeongjo', serif;" >
              </td>
          </tr>
      </form>
  </table>
</body>
</html>